.page-title {
    text-align: left;
    justify-content: left;
    align-items: left;
  }
  
  .text-title {
    text-align: left;
    justify-content: left;
    align-items: left;
  }
  
  .custom-hr {
    text-align: left;
    justify-content: left;
    align-items: left;
  }

  
  